<h4 class="text-center">Ingresar gasto</h4>
<hr>
<div *ngIf="formularioIncorrecto" class="text-center" >
    <span class="badge bg-danger textError">{{textIncorrecto | uppercase}}</span>
</div>
<div class="form-group mb-4">
    <label for="gasto">Gasto</label>
    <input type="text" id="gasto" [(ngModel)]="nombreGasto" class="form-control form-control-lg" placeholder="ej: Pago Netflix">
</div>
<div class="form-group mb-4">
    <label for="monto">Monto ₡</label>
    <input type="number" id="monto" [(ngModel)]="cantidad" class="form-control form-control-lg" placeholder="5000">
</div>
<button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agrergarGasto()">Agregar</button>